body {
    width: 300px;
}

.hidden {
    display: none;
}

ul {
    padding: 7px 0 0;
    border-bottom: 7px solid white;
}

ul,
li {
    list-style: none;
    margin: 0;
}
    ul li {
        padding: 0 8px;
        line-height: 26px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
    }
    template + li.rule {
        margin-top: 14px;
        box-shadow: 0 -5px 0 #fff,
                    0 -6px 0 #ddd;
    }
    ul li.rule {
        background: #fff;
        position: relative;
    }
        ul li .icon {
            display: inline-block;
            width: 18px;
        }
        ul li img {
            width: 16px;
            height: 16px;
            vertical-align: baseline;
            position: relative;
            top: 3px;
            margin-right: 2px;
        }
        ul li img.delete {
            background: #fff;
            width: 12px;
            height: 12px;
            position: absolute;
            margin: 0;
            right: 0;
            top: 0;
            padding: 7px 10px;
            border-left: 1px solid #eee;
            box-sizing: content-box;
            box-shadow: -10px 0 0 #fff;
        }

        .disabled .icon {
            color: red;
        }
        .enabled .icon {
            color: green;
        }
        ul li.rule span.title {
        }
    ul li:hover,
    ul li:hover .icon {
        background: #eee !important;
    }
