body {
    width: 322px;
}

button {
    padding: 5px 10px;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
    ul li {
        border-bottom: 1px solid #ccc;
        padding: 8px 15px;
    }
    ul li.rule {
        background: #fff;
    }
        ul li strong .icon {
            transform: scale(1.2);
        }
    ul li:hover {
        background: rgba(0, 0, 0, 0.08) !important;
    }

.form-row-header {
    font-weight: bold;
}
.form-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 15px;
}
    .form-row label {
        display: block;
    }
    .form-row input {
        display: block;
        width: 100%;
        border: 1px solid #ccc;
        color: #000;
        background: #fff;
        padding: 0 5px;
        line-height: 30px;
        height: 30px;
        margin: 4px 0;
        font-size: inherit;
    }
    .form-row input[type=number] {
        width: 25%;
        display: inline-block;
        text-align: right;
        margin-right: 5px;
    }
    .form-row .help {
        float: right;
        opacity: 0.6;
        font-size: 0.85em;
        margin: 2px 0 0;
    }
    a {
        color: inherit;
        text-decoration: underline;
    }
