body {
    width: 300px;
}

.hidden {
    display: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
    ul li {
        /*border-bottom: 1px solid #ccc;*/
        padding: 0 8px;
        line-height: 28px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
    }
    ul li.create-rule {
        border-bottom: 1px solid #ddd;
    }
    ul li.rule {
        background: #fff;
    }
        ul li .icon {
            display: inline-block;
            width: 1em;
        }
        .disabled .icon {
            color: red;
        }
        .enabled .icon {
            color: green;
        }
        ul li.rule span.title {
        }
    ul li:hover,
    ul li:hover .icon {
        background: #eee !important;
    }
